.btn-theme {
  background: #3e007c;
  border-bottom: 5px solid #f1bd06;

  &:hover,
  &:focus {
    box-shadow: 0 9px 14px 1px rgba(62, 0, 124, 0.18);
  }
}

.button-1 {
  color: #fff;
  border-bottom: 5px solid #d8a400;
  background-image: -webkit-linear-gradient(
    30deg,
    #3e007c 50%,
    transparent 50%
  );
  background-image: linear-gradient(30deg, #3e007c 50%, transparent 50%);
  background-size: 900px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 0.8s ease-in-out;
  transition: background 0.8s ease-in-out;

  &:hover {
    background-position: -900px;
    color: #fff;
    background-color: #f1bd06;
    border-bottom: 5px solid #d8a400;
  }
}

.button-5 {
  background-color: #f1bd06;
  background-image: -moz-linear-gradient(top, #d8a400 0%, #f1bd06 100%);
  background-image: -webkit-linear-gradient(top, #d8a400 0%, #f1bd06 100%);
  background-image: linear-gradient(to bottom, #d8a400 0%, #f1bd06 100%);
  background-size: 900px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;

  &:hover {
    background-position: -900px;
    transition: background 0.5s ease-in-out;
  }
}

.button-6 {
  background-color: #f1f1f1;
  background-image: -moz-linear-gradient(top, #fff 0%, #fff 100%);
  background-image: -webkit-linear-gradient(top, #fff 0%, #fff 100%);
  background-image: linear-gradient(to bottom, #fff 0%, #fff 100%);
  background-size: 900px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 0.5s ease-in-out;

  &:hover {
    background-position: -900px;
    transition: background 0.5s ease-in-out;
  }
}
